# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    

    steps:
    # Step 1: Checkout code
    - uses: actions/checkout@v4
    
    # Step 2: Setup .NET
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # Step 3: Restore dependencies
    - name: Restore dependencies
      run: dotnet restore Garage-2/Garage-2.slnx
      
    # Step 4: Build project
    - name: Build
      run: dotnet build Garage-2/Garage-2.slnx --no-restore
      
    # Step 5: Run tests
    - name: Test
      run: dotnet test Garage-2/Garage-2.slnx --no-build --verbosity normal

